*{
    margin: 0;
    padding: 0;
    font-family: 'Poppons', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: radial-gradient( #ba9443,#e0886f);
    padding: 10px;
}
.todo{
    width: 100%;
    max-width: 60vw;
    background: rgb(188, 154, 71);
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo h2{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo h2 img{
    width: 30px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #d89c6a;
    border-radius: 20px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #d8bd27;
    color:#ab8552;
    font-size: 16px;
    border-radius: 40px;
    cursor: pointer;
}
button:hover{
    background: #896b33;
}
ul li{
    list-style: none;
    font-size: 20px;
    padding: 12px 26px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    overflow-wrap: break-word;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url('unchecked.png');
    background-size: cover;
    background-position: center;
    top:10px;
    left: 8px;
}
ul li.checked{
    color: #f1c351;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url('checked.png');
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #cebb41;
    line-height: 40px;
    text-align: center;
}
ul li span:hover{
    background-color: #d25d15;
    border-radius: 120px;
}